---
import Layout from "@layouts/Layout.astro";
import Card from "@components/Card.vue";
import Toc from "@components/Toc.vue";
import PostHeader from "@components/PostHeader.vue";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map(post => ({
    params: { 
      id: post.slug
    }
  }))
}

const posts = (await getCollection("blog")).sort((a, b) => a.data.date - b.data.date);

const postIndex = posts.findIndex(post => post.slug === Astro.params.id)

const post = posts[postIndex]
const prevPost = postIndex > 0 ? posts[postIndex - 1] : null;
const nextPost = postIndex < posts.length ? posts[postIndex + 1] : null;

const { Content, headings, remarkPluginFrontmatter } = await post.render();

// github.com/rezahedi/rezahedi.dev/blob/main/src/components/TOC.astro
function buildHierarchy(headings: any)
{
  const toc: any[] = [];
  const parentHeadings = new Map();
  
  if (!headings)
    return toc;
  
  headings.forEach((h: any) => {
    const heading = { ...h, subheadings: [] };
    parentHeadings.set(heading.depth, heading);
    // Change 2 to 1 if your markdown includes your <h1>
    if (heading.depth === 1) {
      toc.push(heading);
    } else {
      parentHeadings.get(heading.depth - 1).subheadings.push(heading);
    }
  });
  return toc;
}

const nestedHeadings = buildHierarchy(headings);
---

<Layout title={post.data.title}>
  <div class="relative flex justify-center pt-[125px] px-6 md:px-32 xl:px-16 mx-auto">
    {
    nestedHeadings.length > 0 && 
    <div class="sticky lg:w-[125px] xl:w-[200px] self-start hidden lg:flex mr-10 top-[125px] items-start gap-5 h-[calc(100vh-200px)] overflow-y-auto">
      <!-- <button data-toc-button class="fas fa-indent text-lg px-3 aspect-square bg-[--primary-bg-transparent-80] backdrop-blur border border-[--secondary-bg] rounded-lg hover:text-[--primary-bg] hover:bg-[--primary-color] transition-all"> -->
      <!-- </button> -->
      <div data-toc>
        <Toc client:load headings={nestedHeadings} />
      </div>
    </div>
    }
    <div data-main-content class="flex flex-col gap-10 min-w-[300px] md:w-[748px] lg:max-w-[904px] xl:max-w-[1300px]">
      <!-- <Card class="!bg-[--primary-bg] lg:hidden"> -->
      <!--   <PostHeader client:load post={post} remarkPluginFrontmatter={remarkPluginFrontmatter} /> -->
      <!-- </Card> -->
      <div class="flex flex-col gap-2 relative">
        <!-- { -->
        <!-- nestedHeadings.length > 0 &&  -->
        <!-- <Card class="!bg-[--primary-bg] rounded-none md:rounded-lg -mx-6 lg:hidden max-h-64 overflow-y-auto"> -->
        <!--   <Toc client:load headings={nestedHeadings} /> -->
        <!-- </Card> -->
        <!-- } -->
        <Card class="!bg-[--primary-bg] rounded-none md:rounded-lg -mx-6 md:mx-0 p-10">
          <!-- <div class="hidden lg:block pb-10"> -->
          <!--   <PostHeader client:load post={post} remarkPluginFrontmatter={remarkPluginFrontmatter} /> -->
          <!-- </div> -->
          <div class="pb-10">
            <PostHeader client:load post={post} remarkPluginFrontmatter={remarkPluginFrontmatter} />
          </div>
          <Card class="lg:hidden mb-5">
            <Toc client:load headings={nestedHeadings} />
          </Card>
          <div class="markdown-body">
            <Content />
          </div>

          <div class="flex justify-between mt-6 pt-6 border-t border-[--secondary-bg]">
            {prevPost ? (
            <a class="p-3 border border-[--secondary-bg] rounded-lg" href={"/posts/" + prevPost.slug}>
                <i class="fa-regular fa-angle-left"></i>
                {prevPost.data.title}
              </a>
            ) : <div></div>
            }
            {nextPost ? (
            <a class="p-3 border border-[--secondary-bg] rounded-lg" href={"/posts/" + nextPost.slug}>
              {nextPost.data.title}
              <i class="fa-regular fa-angle-right"></i>
            </a>
            ) : <div></div>
            }
          </div>

          <script is:inline src="https://giscus.app/client.js"
            data-repo="samuzora/blog"
            data-repo-id="R_kgDOIp6e0Q"
            data-category="Announcements"
            data-category-id="DIC_kwDOIp6e0c4CfplK"
            data-mapping="pathname"
            data-strict="0"
            data-reactions-enabled="1"
            data-emit-metadata="1"
            data-input-position="bottom"
            data-theme="noborder_dark"
            data-lang="en"
            data-loading="lazy"
            crossorigin="anonymous"
            async></script>
        </Card>
      </div>
    </div>
  </div>
</Layout>

<script>
  // const button = document.querySelector("[data-toc-button]");
  // const toc = document.querySelector("[data-toc]");
  // const mainContent = document.querySelector("[data-main-content]");
  //
  // button.addEventListener("click", () => {
  //   toc.classList.toggle("hidden");
  //   mainContent.classList.toggle("!w-full");
  // });
</script>
