.home-sidebar-container
  div(class="sticky-container sticky")
    if theme.home.sidebar.first_item === "info"
      .sidebar-content
        include sidebar-components/avatar
        include sidebar-components/author
        include sidebar-components/statistics

    if theme.home.sidebar.links || theme.home.sidebar.announcement
      .sidebar-links
        .site-info
          .site-name #{theme.info.title || config.title}
          if theme.home.sidebar_announcement && theme.home.sidebar.links
            .announcement #{theme.home.sidebar.announcement}

          if theme.home.sidebar.links
            each name, link in theme.home.sidebar.link
              unless link.path === "none"
                a.links(href=url_for(link.path))
                  if link.icon
                    i(class="icon-space" + link-icon)
                  span.link-name #{name}
          else
            .announcement-outside #{theme.home.sidebar.announcement}

    unless theme.home.sidebar.first_item === "info"
      .sidebar-content
        include sidebar-components/avatar
        include sidebar-components/author
        include sidebar-components/statistics
