.article-content(class="markdown-body px-2 sm:px-6 md:px-8 pb-8")
  #{page.content}

h1(class="text-3xl font-bold mb-4") CTF timeline

- 
  let _ctfs = site.data.ctfs.sort((a, b) => b.date - a.date)
    .map(ctf => ({
      name: ctf.name,
      date: ctf.date,
      rank: ctf.rank,
      url: ctf.url,
      year: date(ctf.date, "YYYY")
    }))

  let ctfsByYear = _ctfs.reduce((acc, ctf) => {
    if (acc.hasOwnProperty(ctf.year)) {
      acc[ctf.year].push(ctf)
    } else {
      acc[ctf.year] = [ctf]
    }
    return acc
  }, {}).reverse()

.ctf-list-container
  each year, ctfs in ctfsByYear
    details.ctf(data-header-exclude)
      summary
        i(class="fa-solid fa-chervon-right")
        .ctf-header
          span.ctf-year #{year}
          span.ctf-year-count #{ctfs.length}

      ul.ctf-list
        each ctf in ctfs
          li.ctf-item(date-is=date(ctf.date, "MM-DD"))
          if ctf.url
            a.ctf-title(href=ctf.url) #{ctf.name}
              span(class="fa-solid fa-external-link" aria-hidden)
          else
            span.ctf-title #{ctf.name}

          if ctf.rank
            .ctf-placing(class=ctf.rank.includes("1st") ? "ctf-placing-1st"
                : ctf.rank.includes("2nd") ? "ctf-placing-2nd"
                : ctf.rank.includes("3rd") && "ctf-placing-3rd"
            ) #{ctf.rank}
