.search-pop-overlay
  .popup.search-popup
    .search-header
      span.search-input-field-pre
        i(class="fa-solid fa-keyboard")
      .search-input-container
        input.search-input(
          autocomplete=false
          autocorrect=false
          autocapitalize=false
          placeholder=__("search")
          spellcheck=false
          type="search"
        )
      span.popup-btn-close
        i(class="fa-solid fa-times")
  .search-result
    #no-result
      i(class="fa-solid fa-spinner fa-spin-pulse fa-5x fa-fw") 
