.home-content-container
  ul.home-article-list
    each post in page.posts.data
      li.home-article-item
        if post.sticky
          div(class="absolute top-[12px] right-[12px] text-[0.7rem] text-third-text-color rounded-medium bg-background-color-transparent-15 py-[2px] px-[10px] border border-border-color z-1 hover:text-first-text-color cursor-default"
          )
            i(class="fa-regular fa-thumbtack mr-[3px] text-[0.65rem]")
              != __("sticky")

        - 
          let articleThumbnail = ""
          if (post.cover || post.banner || (post.thumbnail !== false)) {
            if (post.thumbnail !== null) {
              articleThumbnail = post.thumbnail
            } else if (post.cover && post.cover.includes("/")) {
              articleThumbnail = post.cover
            } else if (post.banner && post.banner.includes("/")) {
              articleThumbnail = post.banner
            } else if (config.marked.postAsset) {
              articleThumbnail = [post.path, post.cover || post.banner].join("/")
            }
          }
        if post.thumbnail !== false && (post.thumbnail || post.cover || post.banner)
          .home-article-thumbnail#home-article-thumbnail(class="relative h-[150px] overflow-hidden rounded-t-large")
            a(href=url_for(post.path))
              img(src=url_for(articleThumbnail) alt=post.title class="w-full h-full object-cover dark-brightness-75 transition-all")

        div(class=`flex flex-col gap-5 px-7 pb-7 ${post.thumbnail !== false && (post.thumbnail || post.cover || post.banner) ? "pt-5" : "pt-7"}`)
          h3.home-article-title
            a(href=url_for(post.path)) #{post.title}

          .home-article-content(class="markdown-body")
            if post.excerpt
              if post.excerpt != "false"
                != render(post.excerpt, "markdown")
            else
              != truncate(strip_html(post.content), {length: 128})

          include ../_meta/home-article

  .home-paginator(class="px-7 py-5")
    include ../_widgets/paginator
